* {
    background-color: #202020;
    color: #ffffff;
    box-sizing: border-box;
}

.video-content-manager {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: "toolbar toolbar" "navbar videos-result";
    row-gap: 20px;
    column-gap: 10px;
    height: 90vh;
}

.video-content-manager_toolbar {
    grid-area: toolbar;
    display: flex;
}

.video-content-manager_toolbar_navbar-action {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
}

.video-content-manager_toolbar_search-box {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.video-content-manager_toolbar_search-box_writing {
    flex: 1 1 auto;
    display: flex;
}

.video-content-manager_toolbar_search-box_writing_box {
    flex: 1 1 auto;
    background-color: #121212;
    color: #838383;
}

.video-content-manager_toolbar_search-box_writing_box_action-button {
    flex: 0 0 auto;
}

.video-content-manager_toolbar_search-box_audio {
    flex: 0 0 auto;
    margin-inline-start: 4px;
    border-radius: 50%;
}

.video-content-manager_toolbar_admin {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
}

.video-content-manager_toolbar_admin_create-video-button {
    flex: 0 0 auto;
}

.video-content-manager_toolbar_admin_notification-button {
    flex: 0 0 auto;
}

.video-content-manager_toolbar_admin_account-button {
    flex: 0 0 auto;
}

.video-content-manager_toolbar_admin_account-photo {
    width: 32px;
    height: 42px;
    flex: 0 0 auto;
    border-radius: 50%;
    display: block;
    object-fit: contain;
}

.video-content-manager_navbar {
    visibility: visible;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
}

.video-content-manager_navbar_links {
    display: flex;
    flex-direction: column;
}

.video-content-manager_navbar_links_item {
    height: 36px;
    display: flex;
    align-items: center;
}

.video-content-manager_navbar_links_item_icon {
    width: 25%;
    text-align: center;
}

.video-content-manager_navbar_links_item_text {
    width: 75%;
    text-align: start;
}

.video-content-manager_videos-results {
    grid-area: videos-result;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 10px;
    background-color: #181818;
}

.video-content-manager_videos-results_video {
    width: 100%;
}

.video-content-manager_videos-results_video_details {
    padding: 2px 16px;
    width: 100%;
}

.video-content-manager_videos-results_video_frame {
    width: 100%;
    height: 66%;
}

.text-button {
    border: none;
    background-color: inherit;
    color: inherit;
    padding: 6px 10px;
    cursor: pointer;
}

.text-button:active {
    background-color: #2e2e2e;
}

.link-button {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.link-button:hover {
    background-color: #2e2e2e;
}

.link-button:active {
    background-color: #383838;
}

.img-button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.img-button:active {
    border: thin solid blue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}